.App {
  text-align: center;
}

.App-logo {
  width: 250px;
}

.App-link {
  color: #61dafb;
}

/* Modal */
#modal {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

.modal-container {
  width: 95%;
  height: 95%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: black;
}

.movieInfoTrailer {
  width: 80%;
}

.movieInfoDetails {
  width: 20%;
  height: 100%;
  background-color: white;
  color: black;
}

.movieInfoDetails p {
  padding: 0 5%; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
