.video-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    width: 20%;
    /*height: 250px;*/
    margin-top: 20px;
}

.video-thumb__img {
    position: relative;
    display: block;
}

.video-thumb__img::after {
    /* display: block;
    position: absolute;
    top: 0;
    width: 154px;
    height: 231px;
    content:'';
    background-color: rgba(0, 0, 0, 0.3); */
}

.video-thumb__info {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}

.video-thumb__title {

}

.play-btn {
    position: absolute;
    color:rgba(255, 255, 255, 0.6);
    font-size: 65px;
}