.app-header {
    background-color: #BDD2D7;
    font-size: calc(10px + 2vmin);
    color: white;
}

.app-header nav {
    max-width: 1200px;
    margin: auto;
}

.app-header__nav {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
}

.app-header ul {
    list-style: none;
}

.app-header__genres {
    display: none;
}